# ========================================================
# ENVIRONMENT VARIABLES
# ========================================================
# Petunjuk:
# 1. Salin file ini menjadi `.env` (atau `.env.local`).
# 2. Isi file tersebut dengan variabel di bawah ini.
# ========================================================

NEXT_PUBLIC_BASE_URL=https://cukk-be.buatin.com/
NEXT_PUBLIC_IMAGE_DOMAIN=cukk-be.buatin.com