# REST API backend
NEXT_PUBLIC_BASE_URL=http://localhost:8000/

# Frontend URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Image domains (comma-separated hostnames of your backend image server)
NEXT_PUBLIC_IMAGE_DOMAIN=your-backend-domain.com
